.table {
  border: 1px solid #666666;
  border-collapse: collapse;
}

.table th {
  border: 1px solid #666666;
  padding: 8px;
  background-color: #dedede;
  white-space: nowrap;
}

.table td {
  border: 1px solid #666666;
  padding: 8px;
  background-color: #ffffff;
}

/* Styles for rotateTableCellContent plugin*/
table div.rotated {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  writing-mode:tb-rl;
  white-space: nowrap;
}

thead th {
  vertical-align: bottom;
  text-align: left;
}

table .vertical {
  white-space: nowrap;
}

.zero {
  color: #eee; /* Barely visible, but still there */
}

/*
 * To use these tooltips, you need something like:
 *  <a class="tooltip">visible text<span>tooltip text</span></a>
 */
a.tooltip span {
  display:none;
  padding:2px 3px;
  margin-left:8px;
  width:130px;
}

a.tooltip:hover span{
  display:inline;
  position:absolute;
  background:#ffffff;
  border:1px solid #cccccc;
  color:#6c6c6c;
}

